<div class="column" style="background-color: rgba(216, 136, 83, 0.856);">
<h2 class="title pb-4">login:</h2><hr>
<div class="p-5 m-5">
<form class="login-form">
  <div class="mb-3">
    <label for="username" class="form-label">Email or Username</label>
    <input type="email" class="form-control" id="username" aria-describedby="emailHelp">
   </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password">
  </div>
  
  <button type="submit" class="btn btn-primary">Login</button>
  
    <a href="/signup"><button type="button" class="button is-danger">signup</button></a>
</form>

</div>

</div>

<script src="/javascript/login.js"></script>